*{
    background-image: linear-gradient(to right, #A9F1DF , #FFBBBB);
    color: #09203F;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.container{
    text-align: center;
}
#Focusbutton{
    cursor: pointer;
    padding: 10px;
    color: #efaca6;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    border-color: #f9d0cc;
    border-width: 5px;
}

#Focusbutton:hover{
    background-color: #C9A9A6;
    color: #301934;
}